@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.landingPage { 
    display: flex;
    background-color: #0098ca;
    background-image: url(/img/travel.png);
    background-size: 100%;
    background-repeat:no-repeat;
    background-position: center;
    width: 100%;
    min-height: 100vh;
   display: flex;
   justify-content: center;
   align-content: center;
}

.landing-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 20%;
}

.memory-travel {
    display: flex;
    color: #be1010;
    font-size: 5rem;
    font-family: 'Righteous', cursive;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
    
}

.button-enter {
    display: inline-block;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    margin-left:auto;
    margin-right:auto;
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    font-family: "Abel", sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FF5E5B;
    box-shadow: 0 3px 0 #FF5E5B;
    cursor: pointer;
    transition: all 100ms linear;
}
.button-enter:hover {
    -moz-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
    transform: translateY(-4px);
    box-shadow: 0 7px 0 #FF5E5B;
}
.button-enter:focus {
    outline: 0;
}

.close-btn {
    display: inline-block;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    border: none;
    border-radius: 50%;
    font-family: "Abel", sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FF5E5B;
    box-shadow: 0 3px 0 #FF5E5B;
    cursor: pointer;
    transition: all 100ms linear;
    position: absolute;
    top: 0%;
    left: 87%;
}

.close-btn:hover {
    -moz-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
    transform: translateY(-4px);
    box-shadow: 0 7px 0 #FF5E5B;
}

.close-btn:focus {
    outline: 0;
}

