@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.button-enter {
    margin-right: -100px;
    margin-top: -120px;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    color: #be1010;
    background-color: rgb(4, 4, 43);
    font-family: 'Righteous', cursive;
    font-size: 20px;
}

.landingPage {
    background-color: #0098ca;
    background-image: url(./travel.png);
    background-size: 100%;
    background-repeat:no-repeat;
    background-position: center;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    position: fixed;
    top: 0;
    left: 0;
}

.landing-text {
    display: flex;
    flex-direction: column;
    position:absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    margin-left: -140px;
    margin-top: -200px;
}

.memory-travel {
    display: flex;
    color: #be1010;
    font-size: 80px;
    font-family: 'Righteous', cursive;
    margin-bottom: 30px;
}

.close-btn {
    display: inline-block;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    border: none;
    border-radius: 50%;
    font-family: "Abel", sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FF5E5B;
    box-shadow: 0 3px 0 #FF5E5B;
    cursor: pointer;
    transition: all 100ms linear;
    position: absolute;
    top: 0%;
    left: 87%;
}

.close-btn:hover {
    -moz-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
    transform: translateY(-4px);
    box-shadow: 0 7px 0 #FF5E5B;
}

.close-btn:focus {
    outline: 0;
}