@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.landingPage { 
    display: flex;
    background-color: #0098ca;
    background-image: url(./travel.png);
    background-size: 100%;
    background-repeat:no-repeat;
    background-position: center;
    width: 100%;
    min-height: 100vh;;
      
   display: flex;
   justify-content: center;
   align-content: center;
}

.landing-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.memory-travel {
    display: flex;
    color: #be1010;
    font-size: 5rem;
    font-family: 'Righteous', cursive;
    margin-left: auto;
    margin-right: auto;
    
}

.button-enter {
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    color: #be1010;
    background-color: rgb(4, 4, 43);
    font-family: 'Righteous', cursive;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
}

